---
layout: default.liquid
---

<div class="post-section">
	<div class="post-container">
		<div class="post-image"><img src="{{ image }}" alt="coffee image" /></div>
		<h2>{{ title }}</h2>
		<div class="post-image">
			<div>
				<p>by {{ author }} on {{ date | postDate }}</p>
			</div>
		</div>
		<div class="post-content">{{ content }}</div>
	</div>
</div>
